body,html {
	background: #141415;
	width: 100%;
	height: 100%;
	margin: 0;
	padding:0;
}
.knob, .bg{
	position: absolute;
	left: 50%;
	margin-left: -200px;
}

.knob {
	z-index: 1;
	-webkit-animation: turn 3s linear infinite;
}

@-webkit-keyframes turn {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
