@iosbg: #dadee6;
@borderColor: #b0b4bc;

.striped-bg (@color1, @color2, @size: 10px) {
  background: -webkit-linear-gradient(left, @color1 50%, @color2 50%);
  background: -moz-linear-gradient(left, @color1 50%, @color2 50%);
  background: linear-gradient(left, @color1 50%, @color2 50%);
  background-size: @size @size;
}

html, body {
  .striped-bg(lighten(@iosbg, 2%), lighten(@iosbg, 3%));
}

#main {
  margin-bottom: 2em;
}

.page-header {
   border-bottom-color: @borderColor;
}

.ios-dl {
  
  .legend {
    display: block;
    padding: 0;
    margin: 20px 0px 0px;
    font-size: 21px;
    line-height: 40px;
    color: #8B91A5;
    font-weight: bold;
  }
  
  .definition-group {
    background: #fff;
    border-radius: 10px;
    border: 1px solid @borderColor;
    box-shadow: 0 1px 1px 0 white, 0 1px 1px 0 lighten(@borderColor, 15%) inset;
  }
  
  dl {
    padding: 1em;
    margin: 0px;
    background: transparent;
    border-top: 1px solid lighten(@borderColor, 15%);
  }
  
  dl:first-child {
    border: none;
  }
  
  dt {
    color: rgb(139, 145, 165);
    font-weight: bold;
  }
  
  dd {
    color: #555;
  }
  
}