@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em
}

body{
  background: #D7423C;
  box-sizing: border-box;
}
section{
  padding: 10% 20%;
}
.animate{
  transition: all .3s;
}

input[name=question]{
    display: none;
}
input[name=question] + label{
    position: relative;
    display: block;
    padding: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background: rgba(246, 246, 246, 1);
    color: #5a9aa8;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3px;
}

.response{
    position: relative;
    background: #7B2623;
    color: #7A2723;
    padding: 10px 20px;
    -webkit-transform: translate3d(0,-40px, 0) rotate(-.5deg);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    opacity: 0;
    border-radius: 3px;
}

input[name=question]:checked + label{
    background: #F6F6F6;
    color: #5a9aa8;
}
input[name=question]:checked + label + .response{
    opacity: 1;
    visibility: visible;
    padding: 10px 20px;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -webkit-filter: blur(0px);
    margin-bottom: 20px;
    color: white;
}

.fixed-height{
    height: 50px;
    overflow: hidden;
    opacity: 1 !important;
}
